<div class="fixed bottom-0 left-0 w-full h-[40px] bg-gray-600">
    <div class="p-2 w-full flex justify-between">
        <span class="flex-1">
            <% if @pagy.prev %>
                <%= link_to workouts_path(page: @pagy.prev), class: "flex items-center gap-2" do %>
                    <i class="fa-solid fa-angles-left w-[15px] h-[15px] block"></i>
                    <span>Previous Page</span>
                <% end %>
            <% else %>
                <span></span>
            <% end %>
        </span>

        <div class="hidden md:block">
            <%== pagy_info @pagy %>
        </div>

        <span class="flex-1 flex justify-end">
            <% if @pagy.next %>
                <%= link_to workouts_path(page: @pagy.next), class: "flex items-center gap-2 text-right" do %>
                    <span>Next Page</span>
                    <i class="fa-solid fa-angles-right w-[15px] h-[15px] block"></i>
                <% end %>
            <% else %>
                <span></span>
            <% end %>
        </span>
    </div>
</div>