<%= link_to my_workouts_path, class: "btn-primary" do %>
    <span>View Your Workouts</span>
    <span>
        <i class="fa-solid fa-eye"></i>
        <i class="fa-regular fa-file"></i>
    </span>
<% end %>