

<div>
  <% if workout.gemini_response.present? %>
    <%= sanitize workout.gemini_response_html %>
  <% else %>
      <p>Add exercises to this workout in order to analyze it!</p>    
  <% end %>
</div>

<% if current_user == workout.user %>
    <p><%= link_to "Add Exercise", new_workout_exercise_path(workout), class:"btn-primary", data: { turbo_frame: 'modal' } %></p>
<% end %>

<% if workout.exercises.blank? %>
    <p>
        <i class="fa-solid fa-arrow-up"></i>
        Click the "Add Exercise" button to add exercises to this workout
    </p>
<% else %>
    <% workout.exercises.order(date: :desc).each do |exercise| %>
        <%= render "exercises/exercise", workout: workout, exercise: exercise %>
    <% end %>
<% end %>