<%= link_to workout_path(workout), class: 'btn-primary' do %>
    <span>
        View Workout
    </span>
    <div>
        <i class="fa-regular fa-eye"></i>
        <i class="fa-solid fa-dumbbell"></i>
    </div>
<% end %>