<h1 class="page-header">Editing Workout</h1>

<%= render "form", workout: @workout %>

<br>

<div class="inline-flex flex-col">
  <%= render "workouts_destroy_link", workout: @workout, show_text: true %>
  <%= render "workouts_index_link" %>
</div>
