<h1 class="page-header">Everyone's Workouts</h1>

<% @workouts.order(date: :desc).each do |workout| %>
    <h1><%= workout.date.strftime("%Y-%m-%d") %> by User <%= workout.user_id %></h1>
    <%= render "workout", workout: workout %>
<% end %>