<h1 class="page-header">My Workouts</h1>

<div>
    <% @workouts.each do |workout| %>
        <%= button_tag workout.date, class: "block text-xl mb-4 text-blue-400 hover:underline" %>
        <div>
            <% workout.exercises.each do |exercise| %>
                <%= render "exercises/exercise", exercise: exercise %>
            <% end %>
        </div>

        <p><%= link_to "Add Exercise", new_workout_exercise_path(workout), class:"btn-primary" %></p>
    <% end %>
</div>