<h1 class="page-header">View Workout</h1>

<%= link_to "Add Exercise", new_workout_exercise_path(@workout), class:"btn-primary" %>
<p class="mb-4">Workout Date: <%= @workout.date %>

<div>
    <% @exercises.each do |exercise| %>
        <div class="mb-4">
            <%= render "exercises/exercise", exercise: exercise %>
        </div>
    <% end %>
</div>