<h1 class="page-header">View Workout</h1>

<div class="mb-4">
  <%= render @workout %>
</div>

<div class="inline-flex flex-col">
  <%= render "workouts_edit_link", workout: @workout, show_text: true %>
  <%= render "workouts_index_link" %>
  <%= render "workouts_destroy_link", workout: @workout, show_text: true %>
</div>
