<div>
    <p>This website is produced by Douglas Crawford, here is my contact info!</p>

    <p><strong class="font-bold">Email: </strong>doug.a.crawford@gmail.com</p>
    <p><strong class="font-bold">Github: </strong><a href="https://github.com/dacraw">dacraw</a>
</div>