<nav>
    <ol class="flex gap-x-10">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Workouts", workouts_path %></li>
    </ol>

    <i class="fa-brands fa-font-awesome"></i>
    <i class="fa-solid fa-user-secret"></i>
    <i class="fa-regular fa-bell"></i>
</nav>