<nav>
    <div class="gap-x-10 hidden md:flex justify-end mr-6 mt-6">
        <%= render "header_links" %>
        <%= render "user_session_links" %>
    </div>

    <%= render 'header_dropdown' %>
</nav> 
