<div class="relative text-left md:hidden w-full flex justify-end mt-2 pr-2" data-controller="dropdown">
    <div class="flex gap-4">
        <div>
            <%= link_to tag_selector_path, data: { turbo_frame: "modal" } do %>
                <i class="fa-regular fa-lightbulb text-4xl"></i>
            <% end %>
        </div>
        <div>
            <i class="fa-solid fa-bars text-4xl" data-action="click->dropdown#toggle"></i>
        </div>
    </div>

    <div class="absolute right-0 z-10 mt-10 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden border-2" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-dropdown-target="toggleable">
        <div class="py-1" role="none">
            <%= render "header_links", class_name: "block px-4 py-2 text-sm text-gray-700" %>
            <hr class="mb-4" />
            <%= render "user_session_links", class_name: "block px-4 py-2 text-sm text-gray-700" %>
        </div>
    </div>
</div>