<div>
    <%= render "exercises/exercises_show_link", exercise: local_assigns[:exercise] %>

    <%= render "exercises/exercises_edit_link", exercise: local_assigns[:exercise] %>

    <%= render "exercises/exercises_destroy_link", exercise: local_assigns[:exercise] %>
</div>