<h1 class="page-header">Editing Exercise</h1>

<%= turbo_frame_tag "modal" do %>
  <%= render "form", exercise: @exercise %>
<% end %>

<br>

<div class="inline-flex flex-col">
  <%= render "exercises_destroy_link", workout: @workout, exercise: @exercise, show_text: true %>
  <%= render "workouts/workouts_index_link", workout: @workout %>
</div>
