<%= render "modal_form", title: "Edit Exercise" %>

<br>

<div class="inline-flex flex-col">
  <%= render "exercises_destroy_link", workout: @workout, exercise: @exercise, show_text: true %>
  <%= render "workouts/workouts_index_link", workout: @workout %>
</div>
