<%= turbo_frame_tag workout_exercises_path(@workout) do %>
  <div>
    <% @exercises.order(created_at: :desc).each do |exercise| %>
      <div class="mb-4 border-2 p-2">
          <%= render exercise, workout: @workout, exercise: exercise %>
      </div>
    <% end %>
  </div>
<% end %>