<div>
  <%= turbo_frame_tag workout_exercises_path(@workout) do %>
      <% @exercises.order(created_at: :desc).each do |exercise| %>
        <%= render "exercise_info_link", workout: @workout, exercise: exercise %>
      <% end %>
  <% end %>
</div>