<%= turbo_frame_tag dom_id(@workout, "exercise_form") do %>
  <%= render "form", workout: @workout, exercise: @exercise %>
<% end %>

<br />

<div>
  <%= render "workouts/workouts_index_link", workout: @workout %>
</div>
