<%= turbo_frame_tag new_workout_exercise_path(@workout) do %>
  <%= render "form", workout: @workout, exercise: @exercise %>
<% end %>

<br />

<div>
  <%= render "workouts/workouts_index_link", workout: @workout %>
</div>
