<h1 class="page-header">New exercise</h1>

<%= turbo_frame_tag "modal" do %>
  <%= render "form", workout: @workout, exercise: @exercise %>

  <br>
<% end %>

<div>
  <%= render "workouts/workouts_index_link", workout: @workout %>
</div>
